<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Partner Search</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    body {
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      margin: 0;
      padding: 0;
      background-color: #e9a9a9;
    }
    h1 {
      font-family: 'Inter', sans-serif;
      text-align: center;
      font-weight: 500;
      padding: 20px;
      color: #ffffff;
    }
    form {
      max-width: 600px;
      font-weight: 500;
      margin: 20px auto;
      padding: 20px;
      background-color: #ffffff;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }
    label {
      margin-bottom: 5px;
      color: #4a5568;
      font-weight: 400;
    }
    input[type="text"], input[type="password"] {
      font-family: 'Inter', sans-serif;
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      border: 1px solid #ced4da;
      border-radius: 5px;
      background-color: #f6f6f6;
      font-weight: 400;
    }
    button[type="submit"] {
      font-family: 'Inter', sans-serif;
      width: 100%;
      padding: 10px;
      background-color: #cd6161;
      color: white;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      font-weight: 400;
    }
    button[type="submit"]:hover {
      background-color: #B2344C;
    }
    a {
      color: #000;
    }
    .suggestions {
      position: absolute;
      display: none;
    }
  </style>
  <script>
    async function fetchSuggestions(input) {
      const response = await fetch(`/searchSuggestions?input=${input}`);
      const suggestions = await response.json();
      return suggestions;
    }

    function displaySuggestions(suggestions) {
      const suggestionsList = document.getElementById('suggestions');
      suggestionsList.innerHTML = '';
      suggestions.forEach(suggestion => {
        const option = document.createElement('option');
        option.value = suggestion;
        suggestionsList.appendChild(option);
      });
      suggestionsList.style.display = 'block';
    }

    document.addEventListener('DOMContentLoaded', () => {
      const searchInput = document.getElementById('partnerUsername');
      searchInput.addEventListener('input', async (event) => {
        const input = event.target.value;
        if (input) {
          const suggestions = await fetchSuggestions(input);
          displaySuggestions(suggestions);
        }
      });
    });
  </script>
</head>
<body>

  <h1>Partner Search</h1>
   <!-- Warning/error messages-->
   <% if (error) { %>
    <div class="alert text-center" role="alert" style="background-color: #e9a9a9; color: #000;">
      <%= error %>
    </div>
  <% } %>
  <% if (success) { %>
    <div class="alert text-center" role="alert" style="background-color: #e9a9a9; color: #000;">
      <%= success %>
    </div>
  <% } %>
  <form id="partnerSearchForm" action="/partnerSearch" method="POST">
    <h2 style="text-align: left; padding-left: 20px; padding-bottom: 15px;">Your current partner is <%= currentUser.partner ? currentUser.partner : 'None' %></h2>
    <div class="form-group">
      <input type="text" id="partnerUsername" name="partnerUsername" class="form-control" list="suggestions" autocomplete="off" placeholder="Enter partner's username"required>
      <datalist id="suggestions"></datalist>
    </div>
    <div class="form-group"></div>
        <input type="text" id="partnerPin" name="partnerPin" class="form-control" placeholder="Enter partner's pin" required>
      </div>
    <button type="submit" class="btn btn-primary">Set Partner</button>
  </form>
  <div class="text-center" style="margin-top: 20px;">
    <a href="/settings">Return to Settings</a>
  </div>
</body>
</html>